/* @font-face {
  font-family: eshkol;
  src: url(/src/Assets/fonts/comixno2clm_bold-webfont.woff);
} */

.List h2 {
  font-family: eshkol;
  color: #70569e;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.sendButton {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  margin: auto;
  margin-top: 15px;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #d4c5ff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  font-family: eshkol;
  color: #6c37c9;
  border-radius: 30px;
  width: 70%;
}

.sendButton:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.sendButton span {
  color: #473b47;
}

.full-rounded {
  border-radius: 2em;
}
