.Home {
  position: relative;
  text-align: center;
  font-family: eshkol;
}

.Home img {
  width: 100%;
}

@font-face {
  font-family: eshkol;
  src: url(/src/Assets/fonts/comixno2clm_bold-webfont.woff);
}

p {
  color: #7d5fb2;
  text-decoration-line: none;
  font-family: eshkol;
  margin: 20px 0;
  font-size: larger;
}

.button-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.button-container .btn {
  position: absolute;
  width: 25%;
  height: 45%;
  border-radius: 100%;
  outline: none;
  /* background-color: #fff; */
}

.button-container .btn:active {
  border: 10px dashed rgba(255, 0, 0, 0);
}

.button-container .btn1 {
  top: 97%;
  left: 18%;
}

.button-container .btn2 {
  top: 97%;
  left: 41%;
}

.button-container .btn3 {
  top: 97%;
  left: 63%;
}

.button-container .btn4 {
  top: 128%;
  left: 30%;
}

.button-container .btn5 {
  top: 128%;
  left: 53%;
}
