.Copyrights {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: eshkol;
    src: url(/src/Assets/fonts/comixno2clm_bold-webfont.woff);
  }
  span {
    color: #7d5fb2;
    text-decoration-line: none;
    font-family: eshkol;
  }
  